body {
    margin: 0;
    background: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.profileimg {
    float: left;
    margin-left: -100px;
    padding: 10px 0;
    border-radius: 25%;
    max-width: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: white;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: red;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

ul li{
    float: right;
    width: 140px;
    height: 40px;
    background-color: black;
}

ul li a{
    display: block;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}